<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
<div class="card-container">
  <mat-card class="mat-elevation-z8">
    <mat-horizontal-stepper [linear]="isLinear" #stepper>
      <div >
      <mat-step [stepControl]="image">
          <form  [formGroup]="firstFormGroup">

              <ng-template matStepLabel>Select First Image</ng-template>
            <div fxLayout="column" >
              <!-- <input type="file" (change)="fileChangeEvent($event)" /> -->
              <mat-form-field  required appearance="outline" >
                <ngx-mat-file-input 
                formControlName="croppedImage"
                type="file"
                empty="false"
                (change)="fileChangeEvent($event)"
                placeholder="Select Image"
                accept="image/*"
                valuePlaceholder="Please Select an Image - 1024 X 1024" #fileInput
                ></ngx-mat-file-input>
                <mat-icon matSuffix>image</mat-icon>
              </mat-form-field>
            </div>

              <div *ngIf="image" FxLayout="column" >
                <image-cropper fxAlign="start start"
                    [imageChangedEvent]="imageChangedEvent"
                    [maintainAspectRatio]="true"
                    [aspectRatio]="1.677 / 1"
                    [resizeToWidth]="755"
                    format="png"
                    (imageCropped)="imageCropped($event)"
                ></image-cropper>
                <p>755 X 450</p>
                <div>
                  <img [src]="croppedImage">
                </div>
                <div>
                  <button mat-flat-button color="primary" matStepperNext>Next</button>
                </div>
              </div>
            </form> 
      </mat-step>

      <!-- image crop-type2 stepper -->


      <mat-step *ngIf="croppedImage">
          <ng-template matStepLabel>365 x 450</ng-template>
          <div *ngIf="image" FxLayout="column" >
              <image-cropper fxAlign="start start"
                  [imageChangedEvent]="imageChangedEvent"
                  [maintainAspectRatio]="true"
                  [aspectRatio]="0.8 / 1"
                  [resizeToWidth]="365"
                  format="png"
                  (imageCropped)="imageCropped1($event)"
              ></image-cropper>
              <p>365 x 450</p>
              <div>
                <img [src]="croppedImage1">
              </div>

            <button mat-button color="primary" matStepperPrevious>Back</button>
            <button mat-flat-button color="primary" matStepperNext>Next</button>
          </div>
      </mat-step>

      <!-- image crop-type3 stepper -->
      <mat-step *ngIf="croppedImage1" >
          <ng-template matStepLabel>365 x 212</ng-template>
          <div *ngIf="image" FxLayout="column" >
              <image-cropper fxAlign="start start"
                  [imageChangedEvent]="imageChangedEvent"
                  [maintainAspectRatio]="true"
                  [aspectRatio]="1.72 / 1"
                  [resizeToWidth]="365"
                  format="png"
                  (imageCropped)="imageCropped2($event)"
              ></image-cropper>
              <p>365 x 212</p>
              <div>
                <img [src]="croppedImage2">
              </div>

            <button mat-button color="primary" matStepperPrevious>Back</button>
            <button mat-flat-button color="primary" matStepperNext>Next</button>
          </div>
      </mat-step>

      <!-- image crop-type4 stepper -->

      <mat-step *ngIf="croppedImage2" >
          <ng-template matStepLabel>380 x 380</ng-template>
          <div *ngIf="image" FxLayout="column" >
              <image-cropper fxAlign="start start"
                  [imageChangedEvent]="imageChangedEvent"
                  [maintainAspectRatio]="true"
                  [aspectRatio]="1 / 1"
                  [resizeToWidth]="380"
                  format="png"
                  (imageCropped)="imageCropped3($event)"
              ></image-cropper>
              <p>380 x 380</p>
              <div>
                <img [src]="croppedImage3">
              </div>

            <button mat-button color="primary" matStepperPrevious>Back</button>
            <button mat-flat-button color="primary" matStepperNext>Next</button>
          </div>
      </mat-step>


      <mat-step *ngIf="croppedImage3" >
        <ng-template matStepLabel>Done</ng-template>
        <p>
          Great !!<br>
          Here are your 4 images feel free to go back and corp again.
        </p>
        <div class="padding">
          <img [src]="croppedImage">
          <img [src]="croppedImage1">
          <img [src]="croppedImage2">
          <img [src]="croppedImage3">
        </div>
        <div>
          <button mat-button color="primary" matStepperPrevious>Back</button>
          <button  mat-flat-button color="primary" (click)="saveAllImages()">Save Images</button>
        </div>
      </mat-step>
      </div>
    </mat-horizontal-stepper>
  </mat-card>
</div>
</div>
<router-outlet></router-outlet>
